<div class="bg-primary px-4 py-4 xl:py-0 xl:pr-0 xl:pl-4 2xl:pl-12 flex justify-between flex-wrap xl:flex-nowrap">
<div class="flex flex-wrap items-center w-full xl:w-1/2 justify-between xl:justify-start pb-2 xl:pb-0">
    <p class="text-white text-sm font-Josefin xl:pr-8 hidden sm:block">Small, Friendly &amp; Responsive</p>
    <a class="text-white text-xs font-Josefin xl:pr-8 uppercase" href="#">CARER LOGIN</a>
    <a class="text-white text-xs font-Josefin xl:pr-8 uppercase" href="#">STAFF LOGIN</a>
    <a class="text-white text-xs font-Josefin xl:pr-8 uppercase" href="#">YOUTH LOGIN</a>
    
</div>

<ul class="flex flex-wrap bg-secondary items-center pl-4 rounded-l-full pr-4 2xl:pr-11 w-full xl:w-auto py-2 xl:py-0 justify-between xl:justify-start">
    <li class="mr-4 2xl:mr-6"><a class="flex flex-wrap items-center text-white text-xs 2xl:text-base" href="#"><span class="w-9 h-9 bg-primary flex flex-wrap rounded-full mr-3 items-center justify-center text-sm text-white"><i class="fa fa-envelope" aria-hidden="true"></i>
    </span><span class="hidden md:block">enquiries@amicusfostercare.com</span></a></li>
    <li class="mr-4 2xl:mr-8"><a class="flex flex-wrap items-center text-white text-xs 2xl:text-base" href="#"><span class="w-9 h-9 bg-primary flex flex-wrap rounded-full mr-3 items-center justify-center text-sm text-white"><i class="fa fa-phone" aria-hidden="true"></i>

    </span><span class="hidden md:block">0117 955 5039</span></a></li>
    <li class="bg-primary px-3 2xl:px-8 py-3 rounded-full md:rounded-none"><a class="flex flex-wrap items-center text-white  text-xs 2xl:text-base" href="#"><span class="flex flex-wrap rounded-full md:mr-3 items-center justify-center text-sm text-white"><i class="fa fa-wheelchair" aria-hidden="true"></i>

    </span><span class="hidden md:block">Accessible Version</span></a></li>
</ul>
</div>